<!DOCTYPE HTML>

<html>

    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    </head>
    {% include 'header.html' %}
    
    <body>
        {% if page_type=="edit_student_empty" %}
            <div class="container">
                <span class="highlight-blue">Edit a Student Record</span>
                <br/><br/>
                <span class="instructions">Use the following form to edit a Student Record</span>
                <br/><span class="error">{{error}}</span>
                <!-- {% if error=='empty_fields' %}
                  <p class='error'>There are empty fields</p>
                    {% if empty_fields %}
                        {% for empty_field in empty_fields %}
                    <p class='error'>{{empty_field.replace('_',' ').title()}} is empty!</p>
                        {% endfor %}
                    {% endif %}
                {% endif %} -->

                <br/><br/>
                <form 
                    action="{{ form_meta['action'] }} "
                    method = "{{ form_meta['method'] }}"/>
                    
                    <label for="Name">Student Name</label>
                    <input id="Name" type="text" name="name"/>
                    <input type="submit" value="submit"/>
                </form>
            </div>
        {% endif %}

        {% if page_type=="edit_student_details" %}
            <div class="container">
                <span class="highlight-blue">Update a Student Record</span>
                <br/><br/>
                <span class="instructions">Use the following form to update a Student Record</span>
                <br/><br/>
                {% if error=="empty_records" %}
                    {% for empty_field in empty_fields %}
                        <p class="error">{{ empty_field.replace('_',' ').title() }} is empty!</p>
                    {% endfor %}
                {% endif %}

                {% if error=="wrong_data_type" %}
                    {% for wrong_field in wrong_fields %}
                        <p class="error">{{ wrong_field.replace('_',' ').title() }} should be an integer!</p>
                    {% endfor %}
                {% endif %}
                <form 
                    action="{{ form_meta['action'] }}"
                    method="{{ form_meta['method'] }}">

                    <table>
                        {% for name, value in form_data.items() %}
                        <tr>
                            <td> 
                            <label for= "{{name}}">
                                {{ name.replace("_", " ").title() }}:
                            </label>
        
                            {% if name=="student_class" %}
                                <select name="student_class" id="student_class">
                                    {% for class_ in class_list %}
                                        {% if class_ == value %}
                                            <option value="{{class_}}" selected>{{value}}</option>
                                        {% else %}
                                            <option value="{{class_}}">{{class_}}</option>
                                        {% endif %}
                                            
                                    {% endfor %}
                                </select>
                            {% else %}
                                <input
                                id="{{name}}"
                                type="text"
                                name="{{name}}"
                                value="{{value}}"/>
                            {% endif %}
                            
                            
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <label for="prev_name"></label>
                                <input id="prev_name" type="hidden" name="prev_name" value="{{prev_name}}"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align = "right">
                                <input type="submit" value="Submit">
                            </td>
                        </tr>
                    </table>
                </form>
                    
            </div>
        
        {% endif %}

        {% if page_type=='edit_student_success' %}
        <div class='container'>
            <p>The following student has been updated successfully</p>
    
            {% for name, value in record.items() %}
            {{ name.replace('_', " ").title()}}:{{value}}
        </br>
            {% endfor %}
        </div>
        {% endif %}

        {% if page_type=="edit_membership_empty" %}
            <div class="container">
                {% if error == "student_not_found" %}
                    <p class="error">Student does not exists! or Student has no CCA records to edit</p>
                {% endif %}
                
                <span class="highlight-blue">Edit a Student CCA Record</span>
                <br/><br/>
                <span class="instructions">Use the following form to edit a Student Record</span>

                <br/><br/>
                <form 
                    action="{{ form_meta['action'] }} "
                    method = "{{ form_meta['method'] }}"/>
                    
                    <label for="Name">Student Name</label>
                    <input id="Name" type="text" name="name"/>
                    <input type="submit" value="submit"/>
                </form>
            </div>
        {% endif %}

        {% if page_type == 'edit_membership_choose' %}
        <div class="container">           
            <p>Name: {{name}}</p><br/>
            Class: {{class_}}

            <p>Please click on the cca you want to edit</p>
            <ol>
                {% for record in records %}
                <li><a href="/edit_membership?cca={{ record['cca name'] }}&name={{ record['student name'] }}&role={{ record['role'] }}">{{ record["cca name"] }}</li> <!-- so that when the page changes to page 3, we can carry over the cca name that the user wants to change, as well as their name--> 
                <!-- it works through the request.args. So the args would be a dictionary, something like {"cca": "comp", "name" = "xy"} -->
                {% endfor %}
            </ol>
        </div>
        {% endif %}

        {% if page_type=="edit_indiv_membership_details" %}
            <div class="container">
                <span class="highlight-blue">Update a Student CCA Record</span>
                <br/><br/>
                <span class="instructions">Use the following form to update a Student CCA Record</span>
                <br/><br/>
                <p class="error">
                    {% if error=="new_cca_not_exist"%}
                        New cca provided is not registered yet!
                    {% endif %}
                    
                    {% if error=="no_changes_were_made"%}
                        No changes were made!
                    {% endif %}
                </p>
                {% if error=="empty_fields" %}
                    {% for empty_field in empty_fields %}
                        <p class="error">
                            {{ empty_field.replace('_', ' ').title() }} is empty!
                        </p>
                    {% endfor %}
                {% endif %}
                <form 
                    action= "{{form_meta['action']}}"
                    method="{{form_meta['method']}}">
        
                    <table>
                        <tr>
                            <td>
                                Student Name:
                            </td>
                            <td>
                                {{ form_data["student_name"] }}
                                <input type="hidden" value="{{ form_data['student_name'] }}" name="student_name">
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                <label for="student_cca"> CCA:
                            </td>
                            <td>
                                <input id="student_cca" type="text" value="{{ form_data['student_cca'] }}" name="student_cca">
                                <input type="hidden" value="{{ form_data['student_cca'] }}" name="pre_student_cca">
                            </td>
                        </tr>
                        
                        <tr>
                        <td>
                            <label for="student_role">Student Role:</label>
                        </td>
        
                        <td>
                            <input id="student_role" type="text" name="student_role" value="{{ form_data['student_role'] }}">
                        </td>
                        </tr>
                        <td>
                            <td>
                                <input type="submit" value="Submit"/>
                            </td>
                        </td>
                    </table>
                </form>
                    
            </div>
        
        {% endif %}

        {% if page_type=='edit_membership_success' %}
        <div class='container'>
            <p>The following student's CCA has been updated successfully</p>
    
            {% for name, value in record.items() %}
            {{ name.replace('_', " ").title()}}:{{value}}
        </br>
            {% endfor %}
        </div>
        {% endif %}
        
        {% if page_type=="edit_participation_empty" %}
            <div class="container">
                {% if error == "student_not_found" %}
                    <p class="error">Student does not exists! or Student has no activity records to edit</p>
                {% endif %}
                <span class="highlight-blue">Edit a Student Activity Record</span>
                <br/><br/>
                <span class="instructions">Use the following form to edit a Student Record</span>

                <br/><br/>
                <form 
                    action="{{ form_meta['action'] }} "
                    method = "{{ form_meta['method'] }}"/>
                    
                    <label for="Name">Student Name</label>
                    <input id="Name" type="text" name="name"/>
                    <input type="submit" value="submit"/>
                </form>
            </div>
        {% endif %}

        {% if page_type == 'edit_participation_choose' %}
        <div class="container">
            <p>Name: {{name}}</p><br/>
            Class: {{class_}}

            <p>Please click on the activity you want to edit</p>
            <ol>
                {% for activity in record %}
                <li>
                    <a href="/edit_participation?student_activity={{ activity['activity name'] }}&student_name={{ name }}&student_role={{ activity['role'] }}&student_award={{ activity['award'] }}&student_hours={{ activity['hours'] }}">
                        {{ activity['activity name'] }}
                    </a>
                </li> 
                <!-- so that when the page changes to page 3, we can carry over the activity name that the user wants to change, as well as their name--> 
                <!-- it works through the request.args. So the args would be a dictionary, something like {"cca": "comp", "name" = "xy"} -->
                {% endfor %}
            </ol>
        </div>
        {% endif %}

        {% if page_type=="edit_indiv_participation_details" %}
            <div class="container">
                <span class="highlight-blue">Update a Student Activity Record</span>
                <br/><br/>
                <span class="instructions">Use the following form to update a Student Activity Record</span>
                <br/><br/>

                <p class="error">
                    {% if error=="new_activity_not_exist" %}
                        New activity provided is not registered yet!
                    {% endif %}

                    {% if error=="no_changes_were_made" %}
                        No changes were made!
                    {% endif %}
                </p>
                {% if error=="empty_fields" %}
                    {% for empty_field in empty_fields %}
                        <p class="error">
                            {{ empty_field.replace("_", " ").title() }} is empty!
                        </p>
                    {% endfor %}
                {% endif %}

                {% if error=="wrong_fields" %}
                    {% for wrong_field in wrong_fields %}
                        <p class="error">
                            {{ wrong_field.replace("_", " ").title() }} should be an integer!
                        </p>
                    {% endfor %}
                {% endif %}
                <form 
                    action= "{{form_meta['action']}}"
                    method="{{form_meta['method']}}">
        
                    <table>
                        <tr>
                            <td>
                                Student Name:
                            </td>
                            <td>
                                {{ form_data["student_name"] }}
                                <input type="hidden" value="{{ form_data['student_name'] }}" name="student_name">
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                <label for="student_activity"> Activity:
                            </td>
                            <td>
                                <input id="student_activity" type="text" value="{{ form_data['student_activity'] }}" name="student_activity">
                                <input type="hidden" value="{{ form_data['student_activity'] }}" name="pre_student_activity">
                            </td>
                        </tr>
                        <!-- new row -->
                        <tr>
                            <td>
                                <label for="student_role"> Role:
                            </td>
                            <td>
                                <input id="student_role" type="text" value="{{ form_data['student_role'] }}" name="student_role">
                            </td>
                        </tr>
                        <!-- new row -->
                        <tr>
                            <td>
                                <label for="student_award"> Award:
                            </td>
                            <td>
                                <input id="student_award" type="text" value="{{ form_data['student_award'] }}" name="student_award">
                            </td>
                        </tr>
                        <!-- new row -->
                        <tr>
                            <td>
                                <label for="student_hours"> Hours:
                            </td>
                            <td>
                                <input id="student_hours" type="text" value="{{ form_data['student_hours'] }}" name="student_hours">
                            </td>
                        </tr>
                         <!-- new row -->
                        <td>
                            <td>
                            <input type="submit" value="Submit"/>
                            </td>
                        </td>
                        
                        
                    </table>
                </form>
                    
            </div>
        
        {% endif %}

        {% if page_type=='edit_participation_success' %}
        <div class='container'>
            <p>The following student's activity has been updated successfully</p>
    
            {% for name, value in record.items() %}
            {{ name.replace('_', " ").title()}}:{{value}}
        </br>
            {% endfor %}
        </div>
        {% endif %}
    </body>