<!DOCTYPE HTML>

<html>
    <head>
        <title>CCA Record Manager</title>

        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    </head>

    {% include "header.html" %}
    
    <body>
        <div class="container">
    <ol>

        <li>Add Student's information</li>
        <center>
        <a href="/new_student">
        <button>Add A New Student</button></a>

        <a href="/new_student_cca">
        <button>Add A New Student CCA</button></a>
        
        <a href="/new_student_activity">
        <button>Add A New Student Activity</button></a>
        </center></li>

    </br></br>

        <li>Add CCA or Activity</li>
        <center>
        <a href="/new_cca">
        <button>Add A New CCA</button></a>
        
        <a href="/new_activity">
        <button>Add A New Activity</button></a>
        </center>

    </br></br>

        <li>View Student's information</li>
        <center>
        <a href="/view_student_profile">
        <button>View A Student's Profile</button></a>

        <a href="/view_by_class">
        <button>View by class</button></a>
            
        <a href="/view_by_cca">
        <button>View by CCA</button></a>
        
        <a href="/view_by_activity">
        <button>View by Activity</button></a>
        </center>

    </br></br>

        <li>Edit Student's information</li>
        <center>
        <a href="/edit_student">
        <button>Edit A Student's Details</button></a>
        
        <a href="/edit_membership">
        <button>Edit A Student's CCA</button></a>
        
        <a href="/edit_participation">
        <button>Edit A Student's Activity</button></a>
        </center>
    </ol>
        </div>
    </body>

    
</html>