<!DOCTYPE HTML>

<html>
    <head>
        <title>CCA Record Manager</title>

        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    </head>

    {% include "header.html" %}
    
    <body>
        <div class="container">
    <ol>

        <li>Add Student's information</li>
        <center>
        <a href="/new_student">
        <button>Add A New Student</button></a>

        <a href="/new_student_cca">
        <button>Add A New Student CCA</button></a>
        
        <a href="/new_student_activity">
        <button>Add A New Student Activity</button></a>
        </center></li>

    </br></br>

        <li>Add CCA or Activity</li>
        <center>
        <a href="/new_cca">
        <button>Add A New CCA</button></a>
        
        <a href="/new_activity">
        <button>Add A New Activity</button></a>
        </center>

    </br></br>

        <li>View Student's information</li>
        <center>
        <a href="/view_student_cca">
        <button>View Student's CCA</button></a>
        
        <a href="/view_student_activity">
        <button>View Student's Activity</button></a>
        </center>

    </br></br>

        <li>Edit Student's information</li>
        <center>
        <a href="/edit_student">
        <button>Edit Student's Details</button></a>
        
        <a href="/edit_membership">
        <button>Edit Student's CCA</button></a>
        
        <a href="/edit_participation">
        <button>Edit Student's Activity</button></a>
        </center>

    </br></br>
        <li>Delete Student's information / CCA / Activity</li>
        <centre>
            <a href='/delete_student'>
            <button>Delete Student Record</button>

            <a href='/delete_student_cca'>
            <button>Delete Student CCA</button>

            <a href='/delete_student_activity'>
            <button>Delete Student Activity</button>

            <a href='/delete_cca'>
            <button>Delete A CCA</button>

            <a href='/delete_activity'>
            <button>Delete An Activity</button>
        </centre>
    </ol>
        </div>
    </body>

    
</html>