<!DOCTYPE HTML>

<html>

    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    </head>

    {% include 'header.html' %}
    
    <body>
    {% if page_type == 'new_cca' %}
        <div class='container'>
        <span class=''><p>Add a New CCA</p></span>
        </br>
        <p>Use the following form to add a new CCA</p>
        <form 
            action= "{{form_meta['action']}}"
            method="{{form_meta['method']}}">

            <table>
                {%for name, value in form_data.items()%}
                <tr>
                    <td>
                        <label for="{{name}}">
                            {{ name.replace("_"," ").title()}}:</label>
                    </td>

                    <td>
                        <input id="{{name}}"
                            type="text"
                            name="{{name}}"
                            value=""/>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                <td>
                    <label for="cca_type">CCA Type:</label>
                </td>
                <td>
                    <select name="cca_type" id="cca_type">
                      <option value="Sports">Sports</option>
                      <option value="Aesthetics">Aesthetics</option>
                      <option value="Clubs and Societies">Clubs and Societies</option>
                      <option value="Uniformed Groups">Uniformed Groups</option>
                    </select>
                </td>
                </tr>
                <td>
                    <td>
                        <input type="submit" value="Submit"/>
                    </td>
                </td>
            </table>
        </form>
        
        </div>        
    {% endif %}

    {% if page_type=='new_cca_registered' %}
    <div class='container'>
        <p>The following CCA has been added successfully</p>

        {% for name, value in cca.items() %}
        {{ name.replace('_', " ").title()}}:{{value}}
    </br>
        {% endfor %}
    </div>
    {% endif %}

    {% if page_type=='add_cca_fail' %}
    <div class='container'>
        <p>The following CCA already exists!</p>

        {% for name, value in cca.items() %}
        {{ name.replace('_', " ").title()}}:{{value}}
    </br>
        {% endfor %}
        <button type='button' onclick="history.go(-1)"> Edit </button>
    </div>
    {% endif %}

    {% if page_type=='new_activity' %}
        <div class='container'>
        <span class=''><p>Add a New Activity</p></span>
        </br>
        <p>Use the following form to add a new Activity</p>
        <form 
            action= "{{form_meta['action']}}"
            method="{{form_meta['method']}}">

            <table>
                {%for name, value in form_data.items()%}
                <tr>
                    <td>
                        <label for="{{name}}">
                            {{ name.replace("_"," ").title()}}:</label>
                    </td>

                    <td>
                        <input id="{{name}}"
                            type="text"
                            name="{{name}}"
                            value=""/>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                <td>
                    <label for="activity_cat">Activity Category:</label>
                </td>
                <td>
                    <select name="activity_cat" id="activity_cat">
                      <option value="Achievement">Achievement</option>
                      <option value="Enrichment">Enrichment</option>
                      <option value="Leadership">Leadership</option>
                      <option value="Service">Service</option>
                    </select>
                </td>
                </tr>
                <tr>
                    <td><label for="activity_sd">Start Date:</label></td>
                    <td><input type="date" id="activity_sd" name="activity_sd"/>
</td>
                </tr>
                <tr>
                    <td><label for="activity_ed">End Date:</label></td>
                    <td><input type="date" id="activity_ed" name="activity_ed"/></td>
                </tr>
                <td>
                    <td>
                        <input type="submit" value="Submit"/>
                    </td>
                </td>
            </table>
        </form>
        
        </div>
    {% endif %}

    {% if page_type=='new_activity_registered' %}
    <div class='container'>
        <p>The following Activity has been added successfully</p>

        {% for name, value in activity.items() %}
        {{ name.replace('_', " ").title()}}:{{value}}
    </br>
        {% endfor %}
    </div>
    {% endif %}

    {% if page_type=='add_activity_fail' %}
    <div class='container'>
        <p>The following Activity already exists!</p>

        {% for name, value in activity.items() %}
        {{ name.replace('_', " ").title()}}:{{value}}
    </br>
        {% endfor %}
        <button type='button' onclick="history.go(-1)"> Edit </button>
    </div>
    {% endif %}
        
    </body>
</html>