<!DOCTYPE HTML>

<html>

    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    </head>

    {% include 'header.html' %}
    
    <body>
        
    {% if page_type=='new_student' %}
        <div class='container'>
        <span class=''><p>Register a New Student</p></span>
        </br>
        <p>Use the following form to add a new student</p>
        <form 
            action= "{{form_meta['action']}}"
            method="{{form_meta['method']}}">

            <table>
                {%for name, value in form_data.items()%}
                <tr>
                    <td>
                        <label for="{{name}}">
                            {{ name.replace("_"," ").title()}}:</label>
                    </td>

                    <td>
                        <input id="{{name}}"
                            type="text"
                            name="{{name}}"
                            value=""/>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>
                        <label for="student_class">Student Class</label>
                    </td>

                    <td>
                        <select name="student_class" id="student_class">
                            {% for class_ in class_list %}
                            <option value="{{class_}}">{{class_}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>

                <td>
                    <td>
                        <input type="submit" value="submit"/>
                    </td>
                </td>
            </table>
        </form>
        
        </div>     
    {% endif %}

    {% if page_type=='confirmed_student' %}
    <div class='container'>
        <p>The following student is successfully registered</p>

        {% for name, value in student_info.items() %}
        {{ name.replace('_', " ").title()}}:{{value}}
    </br>
        {% endfor %}
    </div>
    {% endif %}

    {% if page_type=='insert_student_fail' %}
    <div class='container'>
        <p class="error">{{error}}</p>
        {% if empty_fields %}
            {% for empty_field in empty_fields %}
        <p class='error'>{{ empty_field.replace('_',' ').title() }} is empty!</p>
            {% endfor %}
        {% endif %}

        {% if wrong_fields %}
            {% for wrong_field in wrong_fields %}
        <p class='error'>{{ wrong_field.replace('_',' ').title() }} should be an integer!</p>
            {% endfor %}
        {% endif %}
        
        
        {% for name, value in student_info.items() %}
        {{ name.replace('_', " ").title()}}:{{value}}
    </br>
        {% endfor %}
        <button type='button' onclick="history.go(-1)"> Edit </button>
    </div>
    {% endif %}

    {% if page_type=='new_student_cca' %}
        <div class='container'>
        <span class=''><p>Register a New Student CCA</p></span>
        </br>
        <p>Use the following form to register for a new CCA</p>
        <form 
            action= "{{form_meta['action']}}"
            method="{{form_meta['method']}}">

            <table>
                {%for name, value in form_data.items()%}
                <tr>
                    <td>
                        <label for="{{name}}">
                            {{ name.replace("_"," ").title()}}:</label>
                    </td>

                    <td>
                        <input id="{{name}}"
                            type="text"
                            name="{{name}}"
                            value=""/>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                <td>
                    <label for="student_role">Student Role:</label>
                </td>

                <!-- <td>
                    <select name="student_role" id="student_role">
                      <option value="Member">Member</option>
                      <option value="Exco">Exco</option>
                      <option value="President">President</option>
                      <option value="Vice President">Vice President</option>
                    </select>
                </td> -->
                <td>
                    <input id="student_role" type="text" name="student_role">
                </td>
                </tr>
                <td>
                    <td>
                        <input type="submit" value="Submit"/>
                    </td>
                </td>
            </table>
        </form>
        
        </div>   
    {% endif %}

    {% if page_type=="confirmed_student_cca" %}
    <div class='container'>
        <p>The following student is successfully registered for a CCA</p>

        {% for name, value in student_info.items() %}
        {{ name.replace('_', " ").title()}}:{{value}}
    </br>
        {% endfor %}
    </div>
    {% endif %}

    {% if page_type=='insert_student_cca_fail' %}
    <div class='container'>
        
        {% if error == 'empty_fields' %}
        <p class='error'>There are empty fields</p>
        {% if empty_fields %}
            {% for empty_field in empty_fields %}
        <p class='error'>{{ empty_field.replace('_',' ').title() }} is empty!</p>
            {% endfor %}
        {% endif %}
        {% endif %}
        
        {% if error == "student_not_exist" %}
        <p class="error">Student not found! (No student record with provided name has been found in our systems.)</p>
        {% endif %}

        {% if error == "cca_not_exist" %}
        <p class="error">CCA not found! (No CCA record with provided CCA name has been found in our systems.)</p>
        {% endif %}

        {% if error == "student_alr_in_cca" %}
        <p class="error">This student is already registered in the CCA!</p>
        {% endif %}
        

        {% for name, value in student_info.items() %}
        {{ name.replace('_', " ").title()}}:{{value}}
    </br>
        {% endfor %}
        <button type='button' onclick="history.go(-1)"> Edit </button>
    </div>
    {% endif %}

    {% if page_type == 'new_student_activity' %}
    <div class='container'>
    <span class=''><p>Register a New Student Activity</p></span>
    </br>
    <p>Use the following form to register for a new Activity</p>
    <form 
        action= "{{form_meta['action']}}"
        method="{{form_meta['method']}}">

        <table>
            {%for name, value in form_data.items()%}
            <tr>
                <td>
                    <label for="{{name}}">
                        {{ name.replace("_"," ").title()}}:</label>
                </td>

                <td>
                    <input id="{{name}}"
                        type="text"
                        name="{{name}}"
                        value=""/>
                </td>
            </tr>
            {% endfor %}

            <td>
                <td>
                    <input type="submit" value="submit"/>
                </td>
            </td>
        </table>
    </form>
    
    </div>    
    {% endif %}

    {% if page_type=="confirmed_student_activity" %}
    <div class='container'>
        <p>The following student has successfully registered for a Activity</p>

        {% for name, value in student_info.items() %}
        {{ name.replace('_', " ").title()}}:{{value}}
    </br>
        {% endfor %}
    </div>
    {% endif %}

    {% if page_type=="insert_student_activity_fail" %}
    <div class='container'>

        {% if error == 'empty_fields' %}
            <p class='error'>There are empty fields</p>
            {% if empty_fields %}
                {% for empty_field in empty_fields %}
                    <p class='error'>{{empty_field.replace('_',' ').title()}} is empty!</p>
                {% endfor %}
            {% endif %}
        {% endif %}

        {% if error == 'wrong_fields' %}
                {% for wrong_field in wrong_fields %}
                    <p class='error'>{{wrong_field.replace('_',' ').title()}} should be an integer!</p>
                {% endfor %}
        {% endif %}
        

        {% if error == "student_not_exist" %}
        <p class="error"> Student not found! (No student record with provided name has been found in our systems.)</p>
        {% endif %}

        {% if error == "activity_not_exist" %}
        <p class="error">Activity not found! (No activity record with provided activity name has been found in our systems.)</p>
        {% endif %}

        {% if error == "student_alr_in_activity" %}
        <p class="error">This student is already registered in the activity!</p>
        {% endif %}
        
        {% for name, value in student_info.items() %}
        {{ name.replace('_', " ").title()}}:{{value}}
    </br>
        {% endfor %}
        <button type='button' onclick="history.go(-1)"> Edit </button>
    </div>
    {% endif %}
        
    </body>
</html>