<!DOCTYPE HTML>

<html>

    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    </head>

    {% include 'header.html' %}

    <body>
        {% if page_type=='view_cca' %}
        <div class="container">
            <p>Enter Name of student to search for related CCA(s)</p>
            <form 
                action="{{form_meta['action']}}",
                method="{{form_meta['method']}}">

                {% for name, value in form_data.items() %}

                <label for="{{name}}">
                    {{name.replace('_',' ').title()}}:</label>
                <input id="{{name}}"
                    type="text"
                    name="{{name}}"
                    value="{{value}}"/>
                {% endfor %}
                <input type="submit" value="Submit"/>
        </div>
        {% endif %}

        {% if page_type =="view_cca_info" %}
        <div class="container">
            <p>Below is the list of CCAs the student is a member of</p>
            </br>Name: {{name}}</br>Class:{{class_}}</br>
        <table>
            <tr>
                <td>CCA Name</td><td>Role</td>
            </tr>
            {% for cca in cca_record %}
            {% for role in role_record %}
                <tr>
                    <td>{{cca.title()}}</td><td>{{role.title()}}</td>
                </tr>
            {% endfor %}
            {% endfor %}
        </table>
        </div>
        {% endif %}

        {% if page_type=='view_activity' %}
        <div class="container">
            <p>Enter Name of student to search for related Activity/Activities</p>
            <form 
                action="{{form_meta['action']}}",
                method="{{form_meta['method']}}">

                {% for name, value in form_data.items() %}

                <label for="{{name}}">
                    {{name.replace('_',' ').title()}}:</label>
                <input id="{{name}}"
                    type="text"
                    name="{{name}}"
                    value="{{value}}"/>
                {% endfor %}
                <input type="submit" value="Submit"/>
        </div>
        {% endif %}

        {% if page_type =="view_activity_info" %}
        <div class="container">
            <p>Below is the list of CCAs the student is a member of</p>
            </br>Name: {{name}}</br>Class:{{class_}}</br>
        <table>
            <tr>
                <td>Activity Name</td>
                <td>Role</td>
                <td>Award</td>
                <td>Hours</td>
            </tr>
            {% for cca in cca_record %}
            {% for role in role_record %}
            {% for award in award_record %}
            {% for hours in hours_record %}
                <tr>
                    <td>{{cca.title()}}</td>
                    <td>{{role.title()}}</td>
                    <td>{{award.title()}}</td>
                    <td>{{hours.title()}}</td>
                </tr>
            {% endfor %}
            {% endfor %}
            {% endfor %}
            {% endfor %}
        </table>
        </div>
        {% endif %}
    
    </body>
</html>